body {
  font-family: sans-serif;
  overflow-x: hidden;
  /*
  margin: auto;
  max-width: 1280px;*/
}

/*.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}*/

.row > * {
  padding-right: calc(var(--bs-gutter-x) * .35);
  padding-left: calc(var(--bs-gutter-x) * .35);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

header .fa-question-circle:hover {
  color: #239702;
}

footer {
  text-align: center;
}
footer a {
  display: inline-block;
  text-align: center;
  font-size: 10pt ;
  margin-left: 1em;
  vertical-align: top; 
  line-height: 1;
}
footer img {
  height: 24px;
}


#loader {
  display: none ; /* default to hidden */
  position: fixed;
  width: 320px; height: 320px;
  left: 50%; transform: translateX(-50%);
  top: 30%; transform: translateY(-50%);
  z-index: 9999;
  border: 64px solid #f3f3f3;
  border-top: 64px solid #3498db;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#map { height: 320px; }

/* Easily change map icon's color */
#map .leaflet-marker-pane .leaflet-marker-icon {
  filter:  grayscale(90%) opacity(70%); /* hue-rotate(228deg) */
}
#map .leaflet-marker-pane .leaflet-marker-icon.selected {
  filter: none;
  z-index: 3000 !important; /* issue#1 */
}
#map .leaflet-popup-content p {
  font-size: 1.2em;
  margin: .6em 0;
}

#counters-select {
  width: -webkit-fill-available;
  width: -moz-available;
}

#info-modal li {
  margin-top: 1em;
}
#info-modal ul.counters-map {
  margin-bottom: .5em ;
}
#info-modal .counters-map li {
  margin-top: auto ;
}
#info-modal .counters-map img {
  width: 32px;
  vertical-align: bottom;
  filter: hue-rotate(228deg);
}
#info-modal .counters-map img.selected {
  filter: none;
}

/**
https://www.chartjs.org/docs/latest/configuration/responsive.html
 */
.wrapper {
  position: relative;
}
.wrapper .zoom,
.wrapper .unzoom
{
  float: right;
  padding: .175rem .45rem;
  margin-bottom: -44px;
  margin-right: 47px;
}

/* start clipboard btn */
.copy-lien {
  padding: 8px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.clippy-icon {

  font-size: 101px;
  color: #586069;
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: stroke-dashoffset 300ms ease-in-out;
}

.check-icon {
  color: #28a745;
  stroke-dasharray: 50;
  stroke-dashoffset: -50;
  position: absolute;
  top: 0;
  left: 0;
  transition: stroke-dashoffset 300ms ease-in-out;
}

/* end clipboard btn */